# {{ ansible_managed }}
apiVersion: 1
datasources:
  - name: prometheus
    uid: efx9ykc7u57nkf
    type: prometheus
    access: proxy
    url: http://mon-prometheus:9090
    isDefault: true
    editable: false
